
<form (ngSubmit)="submitEdit()">
  <input id="textInput" type="text" value="{{docInfo.text}}" [(ngModel)]="docInfo.text" name="textInput">
  <button>Save</button>
</form>

<a [routerLink] = "['/dashboard']">Dashboard</a>

<div class="focusOn" [ngClass] = "{'focusOn': onConfig.isVisible}">
  <button (click)="timerSwitchOn(); toggleOn()">Focus On</button>
</div>

<div class="focusOff" [ngClass] = "{'focusOff': offConfig.isVisible}">
  <button (click)="timerSwitchOff(); toggleOff()">Focus Off</button>
</div>
