.container {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-flow: column;
  padding: 0;
  width: 100%;
}

.focusOn,
.focusOff {
  display: flex;
}

.focusOn.focusOn,
.focusOff.focusOff {
  display: none;
}

.edit-text {
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-text textarea {
  background: #f2f2f2;
  width: 70%;
  height: 750px;
  border: 0;
  margin: 0 0 15px;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}

.edit-text textarea:focus {
  outline: none;
}

.toolbar-container {
  width: 100%;
  background-color: #D6E4F0 !important;
  padding: 20px;
  display: flex;
  flex-flow: row;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #D6E4F0;
  width: 40%;
}

.toolbar-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #D6E4F0;
}

.toolbar input {
  /*background: #f2f2f2;*/
  background: #D6E4F0;
  border: 0;
  /*margin: 0 0 15px;*/
  /*padding: 15px;*/
  /*box-sizing: border-box;*/
  font-size: 14px;
  font-family: "Poppins";
  outline: none;
  color: #163172;
  width: 300px;
}

.toolbar input:focus, .toolbar input:active, .toolbar input:hover {
  color: #1E56A0;
}

.toolbar-buttons {
  display: flex;
  flex-flow: row;
  padding-left: 630px;
}

a {
  text-decoration: none;
  font-size: 14px;
  padding-left: 5px;
}

button {
  border: 0;
  outline: none;
  background-color: #D6E4F0;
}

span {
  color: #163172;
  background-color: #D6E4F0;
}

span:hover, span:active, span:focus {
  color: #1E56A0;
}

.save-button {
  padding-left: 200%;
}
