.container {
  font-family: "Poppins", sans-serif;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input{
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: #163172;
  width: 190px;
  border-radius: 3%;
  padding: 10px 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  color: rgb(214,228,240);
  font-family: 'Poppins';
  font-size: 20px;
  margin: 0 auto;
}

.button:hover, .button:active, .button:focus {
  background: #1E56A0;
}
