<div class="container">

  <form class="form" (ngSubmit)="startSignupAjax()">

    <input id="signup-username-input" type="text" placeholder="username" [(ngModel)]="theUser.username" name="usernameInput">
    <br>
    <input id="email-input" type="text" placeholder="email" [(ngModel)]="theUser.email" name="emailInput">
    <br>
    <input id="signup-password-input" type="password" placeholder="password" [(ngModel)]="theUser.password" name="passwordInput">
    <br>
    <button class="button">Sign Up</button>

  </form>

</div>
