<div class="container">

  <form class="form" (ngSubmit)="startLoginAjax()">

    <!-- <label for="login-username-input">Username</label> -->
    <!-- <br> -->
    <input id="login-username-input" type="text" placeholder="username" [(ngModel)]="theUser.username" name="usernameInput">
    <br>
    <!-- <label for="login-password-input">Password</label> -->
    <br>
    <input id="login-password-input" type="password" placeholder="password" [(ngModel)]="theUser.password" name="passwordInput">
    <br>
    <button class="button">Log In</button>

  </form>

</div>
