.container {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
}

header {
  padding: 20px 50px;
  font-family: 'Raleway', serif;
}

.button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: #163172;
  width: 130px;
  border-radius: 3%;
  padding: 10px 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 20px;
  color: rgb(214,228,240);
  font-family: 'Poppins';
  font-size: 20px;
}

.button:hover, .button:active, .button:focus {
  background: #1E56A0;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}

.doc-container {
  width: inherit;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.add-doc,
li.doc-card {
  background-image: url("../../assets/book.png");
  width: 200px;
  height: 275px;
  background-size: cover;
  display: flex;
  flex-flow: column;
  color: #163172;
}

li.doc-card .doc-buttons {
  display: flex;
  align-content: space-between;
}

.add-doc {
  align-content: space-between;
}

/*.add-button {
  display: flex;
  height: inherit;
  align-items: flex-end;
  padding: 0 0 0 10px;
}*/

.doc-buttons {
  height: inherit;
  padding: 0 0 70px 10px;
  align-items: flex-end;
}

li a {
  text-decoration: none;
}

li button {
  border: 0;
  background-color: inherit;
  outline: none;
}

span {
  color: #163172;
}

span:hover, span:active, span:focus {
  color: #1E56A0;
}

li.doc-card h3 {
  text-align: center;
  width: 50%;
  padding-left: 10px;
  padding-top: 10px;
}

/*salutations, req.user*/
p {
  padding: 50px;
  font-size: 20px;
}


.add-doc input {
  background: #f2f2f2;
  width: 70%;
  /*height: 750px;*/
  border: 0;
  /*margin: 0 0 15px;*/
  /*padding-top: 50px;*/
  box-sizing: border-box;
  font-size: 16px;
  /*resize: none;*/
  outline: none;
  /*text-align: center;*/
  width: 60%;
  margin-left: 55px;
  margin-top: 23px;
  font-size: 24px;
}

.doc-container {
  display: flex;
  /*justify-content: center;*/
}

form {
  display: flex;
  /*justify-content: center;*/
}
.add-button {
  width: 50%;
  margin-left: 30%;
  display: flex;
  /*justify-content: center;*/
}

footer {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  padding: 20px;
  /*align-items: flex-end;*/
}

footer p {
  font-size: 14px;
}
