<div>
  <header>
    <p *ngIf="userThing.currentUser">
    Hello, <b>{{ userThing.currentUser.username }}</b>.
    </p>
    <button *ngIf="userThing.currentUser" (click)="startLogOutAjax()">Log Out</button>
  </header>

  <a [routerLink] = "['/doc/new']" >Add</a>
  <ul>
    <li *ngFor="let oneDoc of docs; let i = index">
      <h3>{{oneDoc.title}}</h3>
      <a [routerLink] = "['/doc/edit/text', oneDoc._id]">See Details</a>
      <a [routerLink] = "['/doc/edit/title', oneDoc._id]">Edit Name</a>
      <button (click)="startDeleteAjax(oneDoc._id); removeDoc(oneDoc)">Delete</button>
    </li>
  </ul>

</div>
