<!-- Use test -->
<div class="container">

  <div class="another-container">

  <header>

      <h1>Write Away</h1>
      <button class="button" *ngIf="userThing.currentUser" (click)="startLogOutAjax()">Log Out</button>

  </header>

  <p *ngIf="userThing.currentUser">
    Salutations, <b>{{ userThing.currentUser.username }}</b>.
  </p>

  <ul class="doc-container">
    <li>
      <form name="addDoc" class="add-doc" (ngSubmit)="submitDoc()">
        <textarea type="text" value="{{docInfo.title}}" [(ngModel)]="docInfo.title" name="titleInput" placeholder="Add New" autocomplete="off"></textarea>
        <button class="add-button"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="Add New"></span></button>
      </form>
    </li>
    <li class="doc-card" *ngFor="let oneDoc of docs; let i = index">
      <h3>{{oneDoc.title}}</h3>
      <div class="doc-buttons">

          <a *ngIf="userThing.currentUser._id === oneDoc.author" [routerLink] = "['/doc/edit/text', oneDoc._id]"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a>
          <button *ngIf="userThing.currentUser._id === oneDoc.author" (click)="startDeleteAjax(oneDoc._id); removeDoc(oneDoc)"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span></button>
          <a *ngIf="userThing.currentUser._id !== oneDoc.author" [routerLink] = "['/doc/edit/text', oneDoc._id]"><span class="glyphicon glyphicon-heart" aria-hidden="true" title="Read"></span></a>
        </div>
      <!-- </div> -->
    </li>
  </ul>

  </div>

  <footer>
    <p>
      Made with ♥︎ by <a href="http://github.com/jessicaalin">Jess</a>
    </p>
  </footer>

</div>
