<div class="wrapper">

  <div class="name">
    <h1>Write Away</h1>
  </div>

  <div class="video-container video-filter">
    <video autoplay loop>
        <source src="../../assets/typing.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div>

  <div class="user-container">

    <div id="signup" class="inactive signup" [ngClass] = "{'signup': signupConfig.isVisible}">
      <app-signup></app-signup>
    </div>

    <div id="login" class="inactive login" [ngClass] = "{'login': loginConfig.isVisible}">
      <app-login></app-login>
    </div>

  </div>

  <div class="links">
    <div class="button">
      <a href="#signup" (click)="toggleSignup()">Sign Up</a>
    </div>
    <div class="button">
      <a href="#login" (click)="toggleLogin()">Log In</a>
    </div>
  </div>



</div>
