* {
  box-sizing: border-box;
  margin: 0;
}

/* this is a test */

/*  making the video fullscreen  */
.video-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  background-color: black;
}

.video-filter {
  filter: grayscale(100%);
}

/* signup and login hidden */
div.inactive {
  display: none;
}

/* signup and login appear upon click */
div.inactive.signup,
div.inactive.login {
  display: flex;
}

h1 {
  font-family: 'Raleway', serif;
  color: rgb(214,228,240);
  font-size: 80px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #163172;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-content: space-between;
  /*height: 100%;*/
  margin: 0 auto;
}

.name-container {
  z-index: 2;
}

.name {
  justify-content: flex-start;
  align-self: flex-start;
  padding: 5%;
  height: 70%;
  margin: 0 auto;
  padding-bottom: 500px;
  z-index: 2;

}

.user-container {
  display: flex;
  z-index: 2;
}

.links {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 3%;
  margin-left: 1%;
}

.links-container {
  width: 90%;
  margin: 0 auto;
  z-index: 3;
}

a {
  text-decoration: none;
  color: rgb(214,228,240);
  font-family: 'Poppins';
  font-size: 20px;
}

.button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: #163172;
  width: 110px;
  border-radius: 3%;
  padding: 10px 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-right: 25px;
}

.button:hover, .button:active, .button:focus {
  background: #1E56A0;
}

.signup,
.login {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: -400px 0 -35px 130px;
}
